# Bonus: Temperature Analysis I

In [238]:
import pandas as pd
from datetime import datetime as dt

In [244]:
from scipy import stats

In [239]:
# "tobs" is "temperature observations"
hawaii_df = pd.read_csv('/Users/kristenhanold/Desktop/sqlalchemy-challenge/Resources/hawaii_measurements.csv')
hawaii_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [240]:
# Convert the date column format from string to datetime
hawaii_df['date'] = pd.to_datetime(hawaii_df['date'])

# check format has been changed
hawaii_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19550 entries, 0 to 19549
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   station  19550 non-null  object
 1   date     19550 non-null  datetime64[ns]
 2   prcp     18103 non-null  float64
 3   tobs     19550 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 611.1+ KB

In [260]:
# extracting only dates that contain that month of june, then grouping by station
# lastly, averaging temps and prcp per station
june_avg_temps = hawaii_df[hawaii_df['date'].dt.month == 6].groupby(['station']).mean()
june_avg_temps

                 prcp       tobs
station
USC00511918  0.015157  74.139394
USC00513117  0.118248  74.050847
USC00514830  0.114192  76.005376
USC00516128  0.495748  71.937220
USC00517948  0.057975  76.655405
USC00518838  0.094615  73.394737
USC00519281  0.151525  73.271186
USC00519397  0.022661  77.559322
USC00519523  0.050044  76.668103

In [242]:
# extracting only dates that contain that month of december, then grouping by station
# lastly, averaging temps and prcp per station
dec_avg_temps = hawaii_df[hawaii_df['date'].dt.month == 12].groupby(['station']).mean()
dec_avg_temps

                 prcp       tobs
station
USC00511918  0.138146  69.684211
USC00513117  0.203241  71.069444
USC00514830  0.154966  73.224719
USC00516128  0.507005  69.291262
USC00517948  0.152727  71.834862
USC00518838  0.638182  72.421053
USC00519281  0.244931  69.903226
USC00519397  0.075314  71.109524
USC00519523  0.162010  72.433333

In [262]:
# Run paired t-test
# Use the t-test to determine whether the difference in the means, if any, is statistically significant.
# here, we're only insterested in comparing means of temps per month 
# which is why we're calling june_avg_temps['tobs'], dec_avg_temps['tobs']. 
# adding [1] to the end because we only want index 1, which is the p-value
t_test = stats.ttest_rel(june_avg_temps['tobs'], dec_avg_temps['tobs'])[1]
print(f"The p-value when comparing June and December temperatures is {t_test}")

The p-value when comparing June and December temperatures is 0.00011759380231523222

### Analysis

A paired t-test was used since we comparing related variables. In this instance, we are comparing temperatures in June and December across each individual station. Since the p-value is less than 0.05, we can reject our null hypothesis that the mean difference between temperatures is zero and we can conclude that the difference in the means is statistically significant.